{% extends "layout.html" %}

{% block content %}

<div class="projects">
	<div class="project-filter"> 
		<form class="search-form" action="/projects/search" method="get">
                Жанр: {{ form.genre }} Статус перевода: {{ form.status }}  <input type="submit" value="Показать"/>			
		</form>
	</div>
			
	<div class="project-container">
        {% for project in projects %}

            {% if forloop.counter0|divisibleby:4 %}
                {%if not forloop.first %}
                    </div>
                {% endif %}
		    <div class="row">
            {% endif %}
			
			<div class="project-block">	
				<div class="project-head"><a href="/projects/{{ project.id }}/">{{ project.title }}</a></div>
				<img width="100%" src="/media/{{ project.picture }}"/>
                
				<div class="description">
                    <b>Жанр: </b>
                    {% for genre in project.genres.all %}{{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if project.censor %}, 18+{% endif %}
                    <br/> 
                    <b>Статус: </b>{{ project.translation_status }}
                    <br>
                    <b>Год выпуска: </b>{{ project.year }}
                </div>
			</div>		
					
            {%if forloop.last %}
                </div>
                {%if forloop.last < 4 %}
                    <div class="project-block-empty"></div>
                    <div class="project-block-empty"></div>
                    <div class="project-block-empty"></div>
                    <div class="project-block-empty"></div>
                {% endif %}
            {% endif %}

        {% endfor %}	
					
	</div>				
</div>

{% endblock %}
